@mixin screen_xl() {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@mixin screen_l() {
  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    @content;
  }
}

@mixin screen_m() {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    @content;
  }
}

@mixin screen_s() {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin icon($w: 23px, $h: 23px, $size: cover) {
  width: $w;
  height: $h;
  display: inline-block;
  background-size: $size;
  background-repeat: no-repeat;
}
