$bg-main: #202326;
$bg-secondary: #ededed;
$bg-white: #fff;

$text-primary: #556274;
$text-secondary: #b0b0b0;
$text-dark: #272b2f;
$text-white: #fff;

$icons_social: 40px;
$icons_inline: 23px;
$icon_age: 30px;
