@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "_variables";
@import "_mixins";
@import "search-form";
@import "sort-form";
@import "cards";
@import "icons";
@import "footer";
@import "text";
@import "select";

:root {
  font-size: 14px;
}
*,
:before,
:after {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 100px;

  @include screen_l() {
    margin-bottom: 70px;
  }

  @include screen_s() {
    margin: 30px auto 100px;
  }
  .btn {
    margin-top: 15px;
    @include screen_s() {
      margin-top: 10px;
    }
  }
}

.btn {
  border-radius: 52px;
  background-color: transparent;
  color: $text-white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 0.4s;

  &.btn_light {
    border: 1px solid $bg-white;
    &:hover {
      color: $link-hover;
      border-color: $link-hover;
    }
  }
}

body {
  overflow-x: hidden;
}

.app {
  background-color: $bg-main;
  overflow: hidden;
  min-height: 100vh;
}

.header {
  border-bottom: 1px solid $bg-secondary;
  @include screen_xl() {
    padding: 50px 83px;
  }

  @include screen_l() {
    padding: 50px 36px;
  }
  @include screen_m() {
    padding: 50px 36px;
  }
  @include screen_s() {
    padding: 20px;
  }
}

.container {
  // overflow: hidden;
  margin: auto;
  @include screen_xl() {
    max-width: 1276px;
    // padding: 50px 83px;
  }

  @include screen_l {
    max-width: 950px;
    // padding: 50px 36px;
  }

  @include screen_m {
    max-width: 90vw;
    // padding: 50px 36px;
  }

  @include screen_s {
    // max-width: 335px;
    max-width: 90vw;

    // padding: 20px;
  }
}

.list {
  .list__item_iconed {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > i {
      margin-right: 7px;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include screen_xl() {
    align-items: flex-start;
  }

  width: 100%;
  &__header {
    font-size: 16px;
    font-weight: bold;
    color: $text-white;
    text-transform: uppercase;
  }

  .social__button:not(:last-of-type) {
    margin-right: 14px;
  }

  &__buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}
