@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "_variables";
@import "_mixins";
@import "search-form";
@import "sort-form";
@import "cards";
@import "card";
@import "icons";
@import "footer";
@import "text";
@import "select";
@import "advertisement";
@import "social";

*,
:before,
:after {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

.app {
  background-color: $bg-main;
  overflow: hidden;
  min-height: 100vh;
}

.header {
  border-bottom: 1px solid $bg-secondary;
  @include screen_xl() {
    padding: 50px 83px;
  }

  @include screen_l() {
    padding: 50px 36px;
  }
  @include screen_m() {
    padding: 50px 36px;
  }
  @include screen_s() {
    padding: 20px;
  }
}

.container {
  margin: auto;
  @include screen_xl() {
    max-width: 1276px;
  }

  @include screen_l {
    max-width: 950px;
  }

  @include screen_m {
    max-width: 90vw;
  }

  @include screen_s {
    max-width: 90vw;
  }
}

.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 100px;

  @include screen_l() {
    margin-bottom: 70px;
  }

  @include screen_s() {
    margin: 30px auto 100px;
  }
  .more__btn {
    margin-top: 15px;
    @include screen_s() {
      margin-top: 10px;
    }
  }
}

.btn {
  border-radius: 52px;
  background-color: transparent;
  color: $text-white;
  font-size: $text_m;
  text-transform: uppercase;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 0.4s;

  &.btn_light {
    border: 1px solid $bg-white;
    &:hover {
      color: $accent;
      border-color: $accent;
    }
  }
}
