.cards {
  display: grid;
  column-gap: 25px;
  row-gap: 50px;
  width: fit-content;

  &.container {
    margin-top: 60px;
  }

  .cards__item {
    width: 300px;
    .card__title {
      &:before {
        display: block;
        content: url("../icons/separator_small.svg");
      }
    }
  }

  .cards__item_main {
    .card__title {
      max-width: 50%;
      margin: auto auto 0;
      &:before {
        display: block;
        content: url("../icons/separator_big.svg");
      }
    }
  }

  @include screen_xl() {
    grid-template-columns: repeat(4, 1fr);
    .cards__item {
      grid-column: span 1;
    }

    .cards__item_main {
      grid-column: 3 / span 2;
      grid-row: 1;
    }

    .advertisement {
      grid-column: 1 / span 4;
      grid-row: 3;
    }
  }

  @include screen_l() {
    grid-template-columns: repeat(6, 1fr);

    .cards__item {
      grid-column: span 2;
    }

    .cards__item_main {
      grid-column: 3 / span 4;
      grid-row: 1;
    }
    .advertisement {
      grid-column: 1 / span 6;
      grid-row: 3;
    }
  }

  @include screen_m() {
    grid-template-columns: repeat(4, 1fr);

    .cards__item {
      grid-column: span 2;
    }

    .cards__item_main {
      grid-column: 1 / span 4;
      grid-row: 1;
    }
    .advertisement {
      grid-column: 1 / span 4;
      grid-row: 3;
    }
  }

  @include screen_s() {
    grid-template-columns: 1fr;
    &.container {
      margin: 40px auto 0;
    }

    .cards__item_main {
      display: none;
      max-width: 625px;
    }

    .cards__item {
      width: auto;
      margin: auto;
      min-width: 300px;
      max-width: 335px;
      .card__title {
        &:before {
          display: none;
        }
      }
    }

    .advertisement {
      grid-column: 1;
      grid-row: 3;
    }
  }
}
