.cards {
  display: grid;
  column-gap: 25px;
  row-gap: 50px;
  width: fit-content;

  &.container {
    margin-top: 60px;
  }

  .cards__item {
    width: 300px;
  }

  .cards__item_main {
    .card__title {
      max-width: 50%;
      margin: auto auto 0;
    }
  }

  @include screen_xl() {
    grid-template-columns: repeat(4, 1fr);
    .cards__item {
      grid-column: span 1;
    }

    .cards__item_main {
      grid-column: 3 / span 2;
      grid-row: 1;
    }

    .advertisement {
      grid-column: 1 / span 4;
      grid-row: 3;
    }
  }

  @include screen_l() {
    grid-template-columns: repeat(6, 1fr);

    .cards__item {
      grid-column: span 2;
    }

    .cards__item_main {
      grid-column: 3 / span 4;
      grid-row: 1;
    }
    .advertisement {
      grid-column: 1 / span 6;
      grid-row: 3;
    }
  }

  @include screen_m() {
    grid-template-columns: repeat(4, 1fr);

    .cards__item {
      grid-column: span 2;
    }

    .cards__item_main {
      grid-column: 1 / span 4;
      grid-row: 1;
    }
    .advertisement {
      grid-column: 1 / span 4;
      grid-row: 3;
    }
  }

  @include screen_s() {
    grid-template-columns: 1fr;
    &.container {
      margin: 40px auto 0;
    }

    .cards__item_main {
      max-width: 625px;
    }

    .cards__item {
      width: auto;
      margin: auto;
      min-width: 300px;
      max-width: 335px;
    }

    .advertisement {
      grid-column: 1;
      grid-row: 3;
    }
  }
}

.card {
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background-size: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 20px 60px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .card__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  @include screen_s() {
    padding: 20px;
  }

  &__image {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .card__title {
    line-height: 1.2175em;
    text-align: center;
    margin-top: auto;
    display: block;
  }
  .card__title {
    &:before {
      display: block;
      content: url("../icons/separator_big.svg");
    }
  }

  .card__tags {
    display: flex;
    flex-direction: row;
    @include screen_s() {
      justify-content: center;
    }
  }

  .card__tag {
    font-size: 10px;
    color: $text-white;
    border: 1px solid $bg-white;
    border-radius: 12px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  @include screen_s() {
    max-width: 335px;
  }
}

.advertisement {
  background-color: $bg-secondary;
  margin-left: -1000px;
  margin-right: -1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 300px;
  max-height: 300px;

  .advertisement__content {
    width: 100vw;
    margin: auto;
    padding: 26px 40px;
    box-shadow: inset 0px 10px 12px #dadada, inset 0px -10px 12px #dadada;
  }

  img {
    width: 100%;
    height: auto;
  }

  .advertisement__link {
    color: $text-dark;
    text-decoration: none;
    transition: all 0.4s;
    margin-bottom: 12px;
    display: block;
    &:hover {
      color: $link_hover;
    }
  }
}
