.footer {
  border-top: 1px solid $bg-white;
  color: $text-white;

  .footer__section {
    display: flex;
    flex-wrap: wrap;
    &.footer__section_column {
      flex-direction: column;
    }

    &.footer__section_optional {
      padding: 30px 0;
      border-bottom: 1px solid $bg-white;
      .footer__title {
        margin: auto;
        text-align: center;
      }
      @include screen_s() {
        display: none;
      }
    }
  }

  .footer__title {
    margin-bottom: 17px;
    &.footer__title_uppercase {
      text-transform: uppercase;
    }
  }

  .list__item {
    margin-top: 10px;
  }

  .footer__column {
    margin-left: 50px;
    color: $text-white;
  }

  .footer__main {
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 56px;
    flex-direction: column;

    @include screen_xl() {
      padding-top: 86px;
      flex-direction: row;
      align-items: flex-start;
    }

    @include screen_l() {
      padding-top: 60px;
    }
    @include screen_m {
      padding-top: 60px;
    }

    @include screen_s {
      padding-top: 28px;
    }
  }

  .footer__mail {
    color: $accent;
  }

  .footer__link {
    color: $text-white;
    text-decoration: none;
    transition: all 0.4s;
    &:hover {
      color: $accent;
    }
  }

  .footer__copyrights {
    padding: 40px;
  }

  .footer__credits {
    width: 87.5%;
    p + p {
      margin-top: 10px;
    }
  }

  .footer__socials {
    width: 100%;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid $bg-white;
    margin-bottom: 60px;

    @include screen_xl() {
      padding-bottom: 0;
      width: auto;
      border-bottom: none;
      margin-bottom: none;
    }
  }

  .footer__age {
    width: 12.5%;
    text-align: end;
    @include screen_s() {
      margin-top: auto;
    }
  }

  .footer__logo {
    @include screen_xl() {
      margin-bottom: 17px;
    }
    @include screen_l() {
      margin-bottom: 50px;
    }
    @include screen_m() {
      margin-bottom: 50px;
    }
    @include screen_s() {
      margin-bottom: 38px;
    }
  }

  @include screen_s() {
    .footer__column + .footer__column + .footer__column {
      margin-top: 37px;
    }
  }
}
