.icon_book {
  background: url("../icons/page-facing-up_1f4c4.svg");
  @include icon();
}

.icon_page {
  background: url("../icons/page-facing-up_1f4c4\ \(1\).svg");
  @include icon();
}

.icon_crown {
  background: url("../icons/crown_1f451.svg");
  @include icon();
}

.icon_journal {
  background: url("../icons/crown_1f451\ \(2\).svg");
  @include icon();
}

.icon_age {
  background: url("../icons/12+.svg");
  @include icon($icon_age, $icon_age);
}

.icon_vk {
  background: url("../icons/vk.svg");
  @include icon($icons_social, $icons_social);
}

.icon_ok {
  background: url("../icons/OK.svg");
  @include icon($icons_social, $icons_social);
}

.icon_fb {
  background: url("../icons/FB.svg");
  @include icon($icons_social, $icons_social);
}

.icon_twitter {
  background: url("../icons/Twi.svg");
  @include icon($icons_social, $icons_social);
}

.icon_close {
  background: url("../icons/close\ icon.svg") center center;
  @include icon(100%, 100%);
}

.icon_time {
  background: url("../icons/time.png") center center;
  @include icon(10px, 10px);
}

.icon_eyes {
  background: url("../icons/eyes.png") center center;
  @include icon(10px, 10px);
}

.icon_logo {
  background: url("../icons/logo.svg") center center;
  display: block;
  background-size: cover;
  @include screen_xl {
    @include icon(190px, 40px, contain);
  }

  @include screen_l {
    @include icon(400px, 50px, contain);
  }

  @include screen_m {
    @include icon(400px, 80px, contain);
  }

  @include screen_s {
    @include icon(230px, 30px, contain);
  }
}
