.icon {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.4s;
  &.icon_xs {
    width: 12px;
    height: 12px;
  }

  &.icon_s {
    width: 15px;
    height: 15px;
  }

  &.icon_m {
    width: 30px;
    height: 30px;
  }

  &.icon_l {
    width: 40px;
    height: 40px;
  }

  &.icon_book {
    background: url("../icons/page-facing-up_1f4c4.svg");
  }

  &.icon_page {
    background: url("../icons/page-facing-up_1f4c4\ \(1\).svg");
  }

  &.icon_crown {
    background: url("../icons/crown_1f451.svg");
  }

  &.icon_journal {
    background: url("../icons/crown_1f451\ \(2\).svg");
    background-position: top;
  }

  &.icon_age {
    background: url("../icons/12+.svg");
  }

  &.icon_vk {
    background: url("../icons/vk.svg");
    &:hover {
      background: url("../icons/vk_hovered.svg");
    }
  }

  &.icon_ok {
    background: url("../icons/OK.svg");
    &:hover {
      background: url("../icons/OK_hovered.svg");
    }
  }

  &.icon_fb {
    background: url("../icons/FB.svg");
    &:hover {
      background: url("../icons/FB_hovered.svg");
    }
  }

  &.icon_twitter {
    background: url("../icons/Twi.svg");
    &:hover {
      background: url("../icons/Twi_hovered.svg");
    }
  }

  &.icon_close {
    background: url("../icons/close\ icon.svg") center center no-repeat;
    width: 100%;
    height: 100%;
  }

  &.icon_time {
    background: url("../icons/time.png") center center no-repeat;
  }

  &.icon_eyes {
    background: url("../icons/eyes.png") center center no-repeat;
  }

  &.icon_filter {
    background: url("../icons/filter.svg") center center no-repeat;
    width: 25px;
    height: 20px;
  }

  &.icon_logo {
    background: url("../icons/logo.svg") center center no-repeat;
    display: block;
    background-size: contain;

    &:hover {
      background: url("../icons/logo_hovered.svg") center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @include screen_xl {
      width: 190px;
      height: 40px;
    }

    @include screen_l {
      width: 400px;
      height: 50px;
    }

    @include screen_m {
      width: 400px;
      height: 50px;
    }

    @include screen_s {
      width: 230px;
      height: 30px;
    }
  }
}
