.search-form {
  $size_big: 48px;
  $size_small: 30px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: $size_big;

  &__input {
    height: 100%;
    flex-grow: 2;
    border-radius: 24px;
    padding: 0 19px;
    font-size: 25px;
    background-color: $bg-secondary;
    color: $text-dark;
    text-align: center;
    border: none;
    &:focus {
      // border: 2px solid $link_hover;
      box-shadow: 0px 0px 0px 4px $link_hover;
    }
  }

  .search-form__input[data-filled="false"] + .search-form__button {
    transform: scale(0);
    max-width: 0;
  }

  &__button {
    max-width: 100px;
    margin-left: 15px;
    width: $size_big;
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color: $bg-secondary;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      background-color: $link_hover;
      .icon {
        background-image: url("../icons/close\ icon_hover.svg");
      }
    }
    &:focus {
      background-color: $link_hover;
      .icon {
        background-image: url("../icons/close\ icon_hover.svg");
      }
    }
  }

  @include screen_s() {
    height: $size_small;

    &__input {
      text-align: left;
      font-size: 16px;
    }

    &__button {
      height: $size_small;
      width: $size_small;
    }
    &__input {
      font-size: 16px;
    }
  }
}
