.text {
  &.text_sans {
    font-family: "Roboto", sans-serif;
  }

  &.text_serif {
    font-family: Spectral;
  }

  &.text_white {
    color: $text-white;
  }

  &.text-dark {
    color: $text-dark;
  }

  &.text_upper {
    text-transform: uppercase;
  }

  &.text_secondary {
    color: $text-secondary;
  }
  &.text_style-bold {
    font-weight: bold;
  }

  &.text_style-regular {
    font-weight: 400;
  }

  &.text_style-italic {
    font-style: italic;
  }

  &.text_center {
    text-align: center;
  }

  //xxs
  &.text_xxs {
    font-size: 10px;
  }

  //xs
  &.text_xs {
    font-size: 12px;
  }

  //s
  &.text_s {
    font-size: 14px;
  }

  //m
  &.text_m {
    font-size: 16px;
  }

  //l
  &.text_l {
    font-size: 20px;
  }

  //xl
  &.text_xl {
    font-size: 25px;
  }

  // xxl
  &.text_xxl {
    font-size: 30px;
  }
}
